.light .filter .accordion-button  {
    background-color: rgba(77,64,90,.69) !important;
    border-radius: 50px !important;
    border: none;
    padding: 0.5em 1em;
    color: white;

}
 .title svg path {
    stroke: #fff;
}
.form-control {
    padding: 0.875rem 1.5rem !important;
    font-size: .875rem !important;
    line-height: 1.25 !important;
}
.filter .title {
    justify-content: space-between;
    display: flex;
    font-size: large;
    padding-bottom: 1%;
    align-items: center;
}

.form-check-input:checked {
    background-color: #93f !important;
    border-color: #93f !important;
}
.accordion-button:focus {
    border: 2px solid rgb(153, 51, 255) !important;
    border-radius: 50px !important;
    padding: 8px 16px !important;
    font-weight: 600 !important;
    text-align: left !important;
    background-color: rgb(153, 51, 255) !important;
}
.filter  ul li {
    list-style-type: none!important;
    margin-bottom: 8px;
    
}
.filter ul{
    padding-left: 4% !important;
}