.btn-primary {
  background-color: #e0dddd !important;
  color: #020202 !important;
  width: 222px !important;
  }
  
.btn-primary:hover {
    background-color: #9300ff !important;
    color: white !important;
  }
  
.btn-secondary {
  background-color: #e0dddd !important;
  color: #020202 !important;
  width: 222px !important;
    
  }
  
.btn-secondary:hover {
    background-color: #9300ff !important;
    color: white !important;
}

.modal-footer-feature{
    background-color: #b3b5b6 !important;
}