.btn-primary {
    background-color: #e0dddd; 
    color: #020202; 
    width: 222px;
  }
  
.btn-primary:hover {
    background-color: #9300ff; 
  }
  
.btn-secondary {
    background-color: #e0dddd;
    color: #020202;
    width: 222px;
    
  }
  
.btn-secondary:hover {
    background-color: #9300ff;
}

.modal-footer-feature{
    background-color: #b3b5b6 !important;
}