.reset-password{
    margin-top: 100px !important;
    background-color: white;
  }

  .btn-personal-information-second{
    margin-top: 12px;
    background-color: #93f !important;
    color: #fff !important;
    width: 100%;
    border-radius:40px 40px !important;
}

