.istanbul-main-logo{
    height: 170px;
    margin-top: 50px;
}

body{
    background-color: rgb(0, 0, 0);
     /* Renklandırılmış, kalın veya italik olmayan bir font seçin */
}
.text-purple
{
    color:  rgb(153,51,255) ;
   
}


.card.application{
    border-left: 10px solid rgb(0, 122, 37);
    border-radius: 10px;
}
.confirm{
    display: flex;
    justify-content: end;
    border-radius: 10px; ;
}

.main-card{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(243, 243, 243);
    border-radius: 15px;
    box-shadow: 2px 1px 1px rgb(252, 251, 251);
}
#borderedTab{
    border: 0px solid;
}
