.off-canvas-panel {
  position: fixed;
  top: 0;
  right: -70vw; /* Başlangıçta paneli ekranın dışında tutar */
  width: 70vw; /* Panelin genişliği,*/
  height: 100vh; /* Tam ekran yüksekliği */
  background: #fff; /* Arka plan rengi */
  transition: right 0.3s; /* Sağdan çıkma animasyonu */
  overflow-x: auto;
  /* Diğer stiller */
}

.off-canvas-panel.open {
  right: 0; /* Paneli ekranın içine getir */
}

.close-button-con {
  text-align: left;
  height: 20px;
  width: 50px;
  margin-left: -1px;
  padding-left: 10px;
  /*z-index: 1200;*/

}

.space-left{
  width: 50px;
}

.col-left{
  width:600px;
}

.close-button {
  top: 10px; /* Üstten boşluk */
  cursor: pointer; /* İmleci tıklanabilir olarak değiştir */
  background-color: blueviolet;
  width: 10px;
  height: 20px;
  padding-left: 20px;
  color: white;
  text-align: center;
   /* Kenarlıkları kaldır */
  box-shadow: none; /* Gölgeyi kaldır */
  outline: none;
  font-size: 50px;
  margin-bottom: 11px;
  border: none;
  justify-content: center;
  align-items: center;
  
}

.off-canvas-panel {
  /* ... */
  box-shadow: -5px 0 100px rgba(0, 0, 0, 0.5);
  z-index: 980;
}


.off-canvas-panel.open {
  transform: translateX(0); /* Paneli görünür yapmak için */
}

.row-all{
  display: flex;
}

.edu-img-c {
  min-width: 50px;
  width: 100px;
  height: 100px;
  margin: 27px 0 0 0px;
  border-radius: 15px;
  transition: all 0.5s ease; /* Animasyon için */
}
edu-title-c {
  margin-left: 15px;
  width: 400;
  font-size: 18px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 100px;
}

.video-detail-btn-c {
  display: flex;
  padding-top: 4px;
  padding-right: 15px;
  text-align: center;
  color: #fff;
  background-color: #549be6;
  font-weight: lighter;
  justify-content: center;
  border-radius: 3px;
  font-size: small;
}

.edu-detail-row-c {
  margin-left: 4px;
  width: 250px;
  display: flex;
  height: 30px;
}

.clock-icon {
  padding-top: 7px;
  color: black;
}

.time-c {
  color: black;
}
.go-edu-area{
  display: flex;
  margin-left: 100px;
  margin-right: 60px;
  height: 40px;
  margin-top: 25px;

}
.row1{
  display: flex;
}
.go-edu-btn {
  
  background-color: #9933FF;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 6.42857px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 100px;


}

.dots{
  cursor: pointer;
  margin-top:10px;
  text-align: center;
  width: 50px;
}

.edu-time-detail {
  color: #3dcb79;
  margin-left: 5px;
  
}

.ok-icon{
  padding-left: 0px;
  padding-top: 5px;
  font-size: 14px;
  color: #3DCB79;
  display: flex;

}

.ok-icon-space{
  width: 10px;
}


.col-score{

  font-size: 14px;
  font-weight: bold;
  margin-bottom: 35px;
  padding-top: 5px;
  text-align: left;
}


.c-edu-detail {
  text-align: left;
  padding-left: -50px;
}

.col-all2{
  width: 450px;
  display: flex;

}

.congrulations{
  text-align: right;
  padding-top: 7px;
 
}

.c-edu-detail-cont {
  padding-left: 20px;
  margin-top: 35px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.like-button{
  border-inline-color: white;
  border: none;
 text-align: left;
}

.row-button-heart{
  margin-top: 10px;
  margin-left: 70px;
}

.c-edu-detail-cont table{ 
  border-collapse:separate;
  border-spacing:10px;

}
